Source: python3-pyfakefs
Maintainer: Nicolas Hainaux <nicolas.hainaux@gmail.com>
Build-Depends: debhelper, dh-python, python3-all, python3-setuptools, tox, python3-pytest, python3-pytest-cov
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.5

Package: python3-pyfakefs
Architecture: all
Description: pyfakefs implements a fake file system that mocks the Python file system modules.
Depends: ${python3:Depends}
